body {
    margin: 0;
    overflow: hidden;
    background-color: black;
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.list-group-item-dark {
    background-color: hsla(0, 0%, 100%, 0.1);
}

a {
    color: seashell;
}